
<div class="container-fluid">
  <div class="jumbotron">
    <div class="container">
      <h1>{{'main.starter' | translate}}</h1>
      <p>{{'main.text' | translate}}</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="border:1px solid">
          <img class="card-img-top" src="styles/jenkins.png" alt="100%x180" style="height: 180px; width: 100%; display: block;">
          <div class="card-block">
            <h4 class="card-tile">Jenkins</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/#/jenkins" class="btn btn-primary">View Jenkins</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
